body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: whitesmoke;
  background: teal;
}

main {
  display: grid;
  width: 90%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#card {
  border-radius: 10px;
  background: #353e43;
  box-shadow: 0 4px 8px white;
  margin: 10px;
  padding: 10px;
  border-color: black;
}
