body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  color: whitesmoke;
  background: teal;
}

main {
  display: grid;
  width: 90%;
  margin: 20px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#card {
  border-radius: 10px;
  background-color: #353e43d4;
  box-shadow: 0px 0px 5px black;
  padding: 25px;
  transition: box-shadow 0.5s ease;
}

#card:hover {
  background-color: #353e43;
  box-shadow: 0px 0px 10px lavender;
  border: 1px solid black;
  padding: 24px;
}

.welcome-card {
  grid-column: span 2;
}

.about-card {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.wthreleased-card {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.now-card {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.projects-card {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.connect-card {
  grid-column-start: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.journey-card {
  grid-column-start: 1;
  grid-column: span 2;
}

@media screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }

  .welcome-card,
  .about-card,
  .projects-card,
  .wthreleased-card,
  .now-card,
  .connect-card,
  .journey-card {
    grid-column: span 1;
    grid-row: auto;
  }
}
